.update {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 217, 0);
    height: 90.1vh;
}

h1{
    margin: 50px 0px;
    font-weight: lighter;
    font-size: 37px;
    cursor: default;
    text-shadow: 2px 2px 5px black;
}

.update-form {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 4s;
}

.fname-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.lname-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.password-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 25px;
}

.confirm-password-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 25px;
}

.dob-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.mobile-updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.dob-updateform input{
    height: 35px;
    width: 300px;
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

input{
    height: 35px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(255, 217, 0);
    border-radius: 10px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 15px;
}

::-webkit-input-placeholder{
    color: #ccc;
}

.button-login {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 7px 30px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.2s;
}

.button:hover {
    background: none;
    border: 2px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
}

.password{
    padding: 8px 4px;
    width: 15%;
    margin-top: 2px;
    margin-bottom: -15px;
    margin-right: 260px;
    font-size: 15px;
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.2s;
}

.password:hover{
    background: none;
    border: 3px solid rgb(255, 217, 0);
    box-shadow: 1px 1px 10px rgb(32, 32, 32);
}
.password:hover .showIcon {
    color: rgb(255, 217, 0);
}