.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 217, 0);
    height: 92.1vh;
}

h1{
    margin: 50px 0px;
    font-weight: lighter;
    font-size: 38px;
    cursor: default;
    text-shadow: 2px 2px 5px black;
}

.create-form {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s;
}

.fname-createform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.lname-createform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.email-createform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.password-createform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.drop-down-createform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
}

select{
    height: 35px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(255, 217, 0);
    border-radius: 10px;
    background: none;
    outline: none;
    color: #ccc;
    font-size: 15px;
}

option{
    background: rgb(78, 78, 78);
}

input{
    height: 35px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(255, 217, 0);
    border-radius: 10px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 15px;
}

.validate-error{
    font-weight: lighter;
    color: rgb(255, 217, 0);
    padding-top: 2px;
    font-size: 16px;
}

::-webkit-input-placeholder{
    color: #ccc;
}

.button-login {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 7px 30px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.2s;
}

.button:hover {
    background: none;
    border: 2px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
}

.go-back-btn {
    background-color: rgb(255, 217, 0);
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.4s;
    position: fixed;
    left: 80px;
    top: 70px;
}

.BackIcon{
    color: rgb(0, 0, 0);
    padding: 0;
    height: 35px;
    width: 35px;
    margin-right: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.goback-btn .go-back-btn:hover{
    background: none;
    border: 3px solid rgb(255, 217, 0);
    box-shadow: 1px 1px 20px rgb(32, 32, 32);
}
.goback-btn .go-back-btn:hover .BackIcon {
    color: rgb(255, 217, 0);
}

.password{
    padding: 8px 4px;
    width: 15%;
    margin-top: 2px;
    margin-bottom: -15px;
    margin-right: 260px;
    font-size: 15px;
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.2s;
}

.password:hover{
    background: none;
    border: 3px solid rgb(255, 217, 0);
    box-shadow: 1px 1px 10px rgb(32, 32, 32);
}
.password:hover .showIcon {
    color: rgb(255, 217, 0);
}